/********************
** Navbar
********************/

#navbar {
    background: $purple-900;
    font-size: $font-size-large;
    padding: 7px;
    
    a {
        color: $purple-50;
        
        &:hover,
        &:focus,
        &.active {
            background-color: $purple-800;
        }

        &.logo {
            background-color: transparent;
            padding-right: 5px;
        }
    }
}


/********************
** Containers
********************/

h2 {
    .page-career-center & {
        margin-top: 0;
    } 
}

.jumbotron {
    background: $brown-50;
}

.main-container > .well {
    background: transparent;
    border: none;
}

// Classes
.view-classes {
  font-size: $font-size-large;
  
  a {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border-bottom: 1px solid $purple-50;
    
    &:hover {
      background: $purple-50;
    }
  }
}

/********************
** Regions
********************/

.footer {
    background-color: $purple-900;
    color: $purple-50;
    padding: $grid-gutter-width;
    
    a {
        color: $purple-50;
        
        &:hover,
        &:focus {
            background: none;
            text-decoration: underline;
        }
    } 
}


/********************
** Home
********************/

.post {
    border-bottom: solid 2px $purple-50;
    padding-bottom: 50px;
}

.group-header,
.field-name-field-image {
    padding-bottom: 10px;
}

.field-name-submitted-by {
    color: $grey-500;
    
    a {
        color: $grey-600;
    }
}


/********************
** Career Center
********************/

// Formulaire de recherche
.views-exposed-form {
    background: $grey-50;
}

.field-name-field-job-logo-entreprise {
   img {
        width: 100%;
        height: auto
    } 
}


/********************
** Masquerade
********************/

// Corrige les bugs d'affichage du module Masquerade qui n'est pas compatible avec le framework Bootstrap.
// Ceci, en attendant de trouver une solution pour personnaliser, peut-être, le template de Masquerade.
.block-masquerade {
	.input-group-addon {
		position: absolute;
		top: -1000;
		visibility: hidden;
	}
	
	button {
		margin-top: 10px;
	}
}


/********************
** Panels
********************/

.node-job-form {
	input[type="checkbox"],
	input[type="radio"] {
		margin-left: 0;
	}
	
	input[type="file"] {
		&.form-control {
			height: auto;
			margin-bottom: 10px;
		}
	}
}
